.navbar
{
    background-color: antiquewhite;
    height: 50px;
}
.name
{
    font-family:Impact, fantasy;
    font-size: 15px;
    color: lightcoral;
    padding:0;
    margin:0;
}
.item-img {
    height: 50px;
    align-self: center;
}
.header
{
    color:darksalmon;
}
